:root{
    --margin: 25px;
    --padding: 25px; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BACK TO THE PREVIOUS PAGE ICEON STYLING */


.main-container{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
   margin-top: 5px;
   
    overflow: hidden;
    
    
}



.main-header {
    margin: 10px;
    padding: 10px;
    text-shadow: 1px 1px gray;
    background-image: url(https://images.unsplash.com/photo-1533850595620-7b1711221751?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dHJhdmVsbGluZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-size: cover;
    
  
}



/* TRAVELLING and places styling */

 h4{
    font-size: 1.4rem;
    text-align: center;
    text-decoration:underline;
    color: black;
    text-shadow: 3px 1px 2px rgb(255,255,255);
}

h1{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

 h2{
    font-size: 1.3rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    margin: var(--margin);
    padding-top: 10px;
    text-decoration:underline;
}

h3{
    font-size: 1.3rem;
}

.travelling-info li{
    font-size: 1rem;
    padding: 6px;
    text-align: center;
  
}
.travelling-info ul{
    list-style: none;
    border-radius: 10px;
}

.travelling-info{
    margin: 2px;
    background-image: url(https://images.unsplash.com/photo-1569092122680-4a491077bab3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHRyYXZlbCUyMGJ1c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 350px;
}





.flex{
    
    display: flex;
    justify-content: space-around;
    align-items:center ;
   
    flex-direction:row ;
    flex-wrap: wrap;
    
}



.places-info{
    margin: 5px;
    background-image: url(https://images.unsplash.com/photo-1523538290088-51e3e7d1c00d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dHJhdmVsJTIwYmFsaXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.places-info img{
    border-radius: 70px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
 }


 .agra-places{
    padding: 20px;
    background-image: url();
    margin-top: 30px;
 }

 
/* places we cover in shimla styling */
.shimla-places img{
    width: 100%;
    height: 200px;
  
 }


 /* places we cover in agra styling */

 


/* places we cover in manali styling */
.manali-places{
    padding: 20px;
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}
.manali-places img{
    width: 100%;
    height: 200px;
  
 }
 
 /* places we cover in shimla styling */

.shimla-places{
    padding: 20px;
}




/* BUTTONstyling  */
.btn{
    padding-top: 50px;
    margin-top: 10px;
    
}
.btn-links input[type=button]{
    padding: 10px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(128, 122, 122, 0.637));
    height: 40px;
    width: 220px;
    
    
    border: 2px solid gray;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.btn-links input[type=button]:hover{
    transform: scale(1.1);
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

 /* contact container */
.contact-container h3{
    margin-top: 50px;
    padding: 10px;
    background: linear-gradient(to right, #1a1a1a94, #3334347a );
    border: 1px solid #95dfea;
    border-radius: 3px;
}
.contact{
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 15px;
}


h5{
    font-size: 1rem;
}

.contact i{
    transform: scale(1.1);
}

.contact i:hover{
    transform: scale(1.5);
}

.contact2{
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 15px;
}




.contact2 i{
    transform: scale(1.1);
}

.contact2 i:hover{
    transform: scale(1.5);
}
/* box shadow */
.agra-places{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 40px 0px;
    margin-left: 40px;
    margin-right: 40px;
   
   
}

.manali-places{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0px 40px;
    margin-left: 40px;
    margin-right: 40px;
  
}

.shimla-places{
  
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    border-radius: 40px 0px;
    margin-left: 40px;
    margin-right: 40px;
   
}


