:root{
    --margin: 25px;
    --padding: 25px; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BACK TO THE PREVIOUS PAGE ICEON STYLING */


.main-container{
    height: 1000vh;
    font-size: 1.3rem;
    text-align: center;
   margin-top: 5px;
   
    overflow: hidden;
    
    
}



.main-header {
    margin: 10px;
    padding: 10px;
    text-shadow: 1px 1px gray;
    background-image: url(https://images.unsplash.com/photo-1533850595620-7b1711221751?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8dHJhdmVsbGluZ3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    
  
}



/* TRAVELLING and places styling */

 h4{
    font-size: 1.4rem;
    text-align: center;
    text-decoration:underline;
    color: black;
    text-shadow: 3px 1px 2px rgb(255,255,255);
}

h1{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

 h2{
    font-size: 1.3rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    margin: var(--margin);
    padding-top: 10px;
    text-decoration:underline;
}

h3{
    font-size: 1.3rem;
}

.travelling-info li{
    font-size: 1rem;
    padding: 10px;
    text-align: center;
  
}
.travelling-info ul{
    list-style: none;
    border-radius: 10px;
}

.travelling-info{
    margin: 5px;
    background-image: url(https://img.freepik.com/free-vector/realistic-travel-background-with-elements_52683-77784.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 350px;
}





.flex{
    
    display: flex;
    justify-content: space-around;
    align-items:center ;
   
    flex-direction:row ;
    flex-wrap: wrap;
    
}



.places-info{
    margin: 5px;
    background-image: url(https://images.unsplash.com/photo-1619382803627-a1d7b7218224?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxNDAxNzEyfHxlbnwwfHx8fHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.places-info img{
    border-radius: 70px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
 }


 .agra-places{
    background-image: url();
    margin-top: 30px;
 }

 
/* places we cover in shimla styling */
.shimla-places img{
    width: 100%;
    height: 200px;
  
 }


 /* places we cover in agra styling */

 


/* places we cover in manali styling */
.manali-places{
    margin-top: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}
.manali-places img{
    width: 100%;
    height: 200px;
  
 }
 
 /* places we cover in shimla styling */






/* BUTTONstyling  */
.btn{
    padding-top: 50px;
    margin-top: 10px;
}
.btn-links input[type=button]{
    padding: 10px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(128, 122, 122, 0.637));
    height: 40px;
    width: 220px;
    
    border: 2px solid gray;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.btn-links input[type=button]:hover{
    transform: scale(1.1);
    background-color: black;
  
}

 /* contact container */
.contact-container h3{
    margin-top: 50px;
    padding: 10px;
    background: linear-gradient(to right, #1a1a1a94, #3334347a );
    border: 1px solid #95dfea;
    border-radius: 3px;
}
.contact{
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 15px;
}


h5{
    font-size: 1rem;
}

.contact i{
    transform: scale(1.3);
}

.contact i:hover{
    transform: scale(1.7);
}