:root{
    --padding:15px;
    --margin:5px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main container */
.main-container{
    height: 100%;
    margin: 2px;
    padding: px;
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* main heading section styling */
.maininfo{
   
    background-image: url(https://wallpapers.com/images/featured/travel-hd-background-axhrsecphqby11wk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
   
}
.main-heading{
    font-size: 1.5rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin);  
}

.sub-heading{
    font-size: 1.5rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin); 
    
}

 h4{
    text-decoration: underline;
}

.about-trip{
    font-size: 1.2rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin); 
    color: rgb(0, 0, 0);
}



/* places styling */
.places{
    overflow: hidden;
    flex-direction: row-reverse;
    height: 100%;
    margin: 3px;
   
    background: linear-gradient(to right, #deece2, #aedae1 );
}

.place1-shimla img{
    
    width: 650px;
}


.place1-shimla{
    flex-direction: row;
   
}
.place2-manali{
    flex-direction: row-reverse;
    
}
.place3-agra{
    flex-direction: row;
    
}
.places, .right-part{
    flex-direction: column;
}
    .places img {
       
        margin-top: 25px;
        height: 200px; 
    }
    .place1-shimla img{
    
        width: 470px;
    }


.places img {
    margin: 10px;
    margin-top: 35px;
    height: 300px;
    border-radius: 10px;
    
}


.places input[type=button]:hover{
    background-color: rgba(255, 255, 255, 0.966);
   
}



.places input[type=button] {
   text-align: center;
   justify-content: center;
    width: 170px;
    height: 29px;
    border: 1 px solid black;
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0);
    transition: 0.2s ease-in-out;    
   
    
}

 h3{
    text-align: center;
    padding-right: 30px;
    text-decoration: underline;
}



/* contact container */
.contact-container h3{
    margin-top: 50px;
    padding: 10px;
    text-decoration: underline;
    background-color: #95dfea;
    border: 1px solid #95dfea;
    border-radius: 3px;
}
.contact{
    width: 100vw;
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 15px;
}


.contact i:hover{
    transform: scale(1.5);
}


/* BUTTONstyling  */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 20px;
    
}
.btn-links  input[type=button]{
  
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(128, 122, 122, 0.637));
    height: 50px;
    width: 220px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.btn-links  input[type=button]:hover{
  background-color:black;
  cursor: pointer;
  transform: scale(1.1);
  
}

.places input[type=button]:hover{
    background-color: #33bacf;
    transform: scale(1.1);
}

.places input[type=button]:visited{
    background-color: #02082e;
}