@media screen and (max-width: 1091px) {

     
    h1{
        font-size: 1.9rem;
    }
    h2{
        font-size: 1.8rem;
        text-align: center;
        justify-content: center;
    }
    p{
        font-size: 1.5rem;
       
    }

    .place1-shimla{
        flex-direction: row;
        margin: 15px;
    }
    .place2-manali{
        flex-direction: row-reverse;
        margin: 15px;
    }
    .place3-agra{
        flex-direction: row;
        margin: 15px;
    }
.places, .right-part{
    flex-direction: column;
}
    .places img {
       
        margin-top: 25px;
        height: 200px; 
    }
    .place1-shimla img{
    
        width: 470px;
    }

    

    p{
        font-size: 1.1rem;
        padding: 15px;
       
    }

    h1{
        font-size: 1.9rem;
    }

    .place1-agra img{
        
        width: 100%;
        height: 150px;
    }
   
    .placesof-manali img{

        height: 100%;
        flex-wrap: wrap;
      
     }
     .placesof-shimla img{
        height: 100%;
        flex-wrap: wrap;
     }

    

}



@media screen and (max-width:667px) {
    h3{
        font-size: 1rem;
     }
    h1{
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px rgb(255, 255, 255);
    }

  

    p{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
    .place1-shimla{
        flex-direction: column;
        margin: 5px;
    }
    .place2-manali{
        flex-direction: column;
        margin: 5px;
    }
    .place3-agra{
        flex-direction: column;
        margin: 5px;
    }

    .places img {
       
        margin-top: 25px;
        height: 200px; 
    }
    .place1-shimla img{
    
        width: 470px;
    }

    

    p{
        font-size: 1.1rem;
        padding: 15px;
       
    }

    .placesof-shimla img{
        height: 100%;
        flex-wrap: wrap;
     }
     .placesof-manali img{

        height: 100%;
        flex-wrap: wrap;
     }

     .placesof-manali img{

        height: 200px;
        width: 200px;
      
     }
     .placesof-shimla img{
        height: 200px;
        width: 200px;
     }

}

@media screen and (max-width:500px) {
    h1{
        font-size: 1.2rem;
    }
    h4,h2{
        font-size: 1.1rem;
     }
    .places p{
        font-size: 1rem;
        padding: 5px;
    }

    .place1-shimla img{
    
        width: 370px;
    }

    .sub-heading h4,p{
        font-size: 1.2rem;
        font-weight: bold;
    }


    .btn{
        padding: 10px;
    }
    .btn-links  input[type=button]{   
        height: 30px;
        width: 200px;
        margin: 20px;
    }

    .placesof-manali img{

        height: 120px;
        width: 120px;
      
     }
     .placesof-shimla img{
        height: 120px;
        width: 120px;
     }
}
@media screen and (max-width:515px) {
    

    .btn-links  input[type=button]{
  
       
        width: 120px;
        margin: 20px;
       
      
    }

    .sub-heading h4,p{
        font-size: 1.3rem;
        font-weight: lighter;
        text-decoration: none;
       
    }
    .placesof-manali img{

        height: 90px;
        width: 90px;
      
     }
     .placesof-shimla img{
        height: 90px;
        width: 90px;
     }
     
}

@media screen and (max-width:500px) {

 
    .btn-links  input[type=button]{
        width: 90px;
       margin: 10px;
        
    }

    .main-heading h2{
        font-size: 1.3rem;
        color: gold;
        text-shadow: 2px 3px gray;
    }

    .sub-heading h4,p{
        font-size: 1.3rem;
        font-weight: lighter;
        text-decoration: none;
       
    }

    .sub-heading h4{
        text-decoration: underline;
        font-weight: bold;
        
    }

    .placesof-manali img{

        height: 90px;
        width: 90px;
      
     }
     .placesof-shimla img{
        height: 90px;
        width: 90px;
     }

     
     h1{
        font-size: 1.5rem;
    
    }      
    h4,h2{
        font-size: 1.5rem;
     }
    
     .travelling-info li{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        padding: 3px;
     } 

 
    
}





