@media screen and (max-width: 991px) {

   
    h2{
        font-size: 1.8rem;
        text-align: center;
        justify-content: center;
    }
    p{
        font-size: 1.5rem;
       
    }

    .place1-shimla{
        flex-direction: row;
        margin: 15px;
    }
    .place2-manali{
        flex-direction: row-reverse;
        margin: 15px;
    }
    .place3-agra{
        flex-direction: row;
        margin: 15px;
    }
.places, .right-part{
    flex-direction: column;
}
    .places img {
       
        margin-top: 25px;
        height: 200px; 
    }
    .place1-shimla img{
    
        width: 470px;
    }

    .contact-container{
        width: 100%;
    }

    p{
        font-size: 1.1rem;
        padding: 15px;
       
    }


}

@media screen and (max-width:667px) {
    

   
    .place1-shimla{
        flex-direction: column;
        margin: 5px;
    }
    .place2-manali{
        flex-direction: column;
        margin: 5px;
    }
    .place3-agra{
        flex-direction: column;
        margin: 5px;
    }

    .places img {
       
        margin-top: 25px;
        height: 200px; 
    }
    .place1-shimla img{
    
        width: 470px;
    }

    .contact-container{
        width: 100%;
    }

    p{
        font-size: 1.1rem;
        padding: 15px;
       
    }
}

@media screen and (width<500px) {
    
    .places p{
        font-size: 1rem;
        padding: 5px;
    }

    .place1-shimla img{
    
        width: 370px;
    }

    .sub-heading h4,p{
        font-size: 1.2rem;
        font-weight: bold;
    }


    .btn{
        padding: 10px;
    }
    .btn-links  input[type=button]{   
        height: 30px;
        width: 200px;
        margin: 20px;
    }
}
@media screen and (width<515px) {
    
   
    .btn-links  input[type=button]{
  
       
        width: 120px;
        margin: 20px;
       
      
    }

    .sub-heading h4,p{
        font-size: 1.3rem;
        font-weight: lighter;
        text-decoration: none;
       
    }
}

@media screen and (width<450px) {

   
    .btn-links  input[type=button]{
        width: 80px;
       margin: 10px;
        
    }

    .main-heading h2{
        font-size: 1.3rem;
        color: gold;
        text-shadow: 2px 3px gray;
    }

    .sub-heading h4,p{
        font-size: 1.3rem;
        font-weight: lighter;
        text-decoration: none;
       
    }

    .sub-heading h4{
        text-decoration: underline;
        font-weight: bold;
        
    }

    .main-info{
        padding: -10px;
    }

    .contact{
       padding-right: 100px;
       
    }
}


/* media query for abouttrip.html */
@media screen and (max-width: 991px) {

  
}



