:root{
    --padding:15px;
    --margin:5px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main container */
.main-container{
    margin: 2px;
    padding: 10px;
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* main heading section styling */
.maininfo{
   
    background-image: url(https://wallpapers.com/images/featured/travel-hd-background-axhrsecphqby11wk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    flex-wrap: wrap;
   
}
.main-heading{
    font-size: 1.5rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin);  
}

.sub-heading{
    font-size: 1.5rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin); 
    text-decoration: underline;
}

.about-trip{
    font-size: 1.2rem;
    text-shadow: 1px 1px gray;
    text-align: center;
    padding: var(--padding);
    margin: var(--margin); 
    color: rgb(0, 0, 0);
}



/* places styling */
.places{
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    margin: 3px;
    padding: 20px;
    background: linear-gradient(to right, #deece2, #aedae1 );
}

.place1-shimla img{
    
    width: 650px;
}

.places img {
    margin: 10px;
    margin-top: 35px;
    height: 300px;
    border-radius: 10px;
    
}


.places input[type=button]:hover{
    background-color: rgba(255, 255, 255, 0.966);
   
}



.places input[type=button] {
    width: 170px;
    height: 29px;
    border: 1 px solid black;
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0);
    transition: 0.2s ease-in-out;    
    margin-left: 70px;
    
}

.places h3{
    text-align: center;
    padding-right: 30px;
}



/* contact container */
.contact-container h3{
    margin-top: 50px;
    padding: 10px;
    text-decoration: underline;
    background-color: #95dfea;
    border: 1px solid #95dfea;
    border-radius: 3px;
}
.contact{
    width: 100vw;
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 15px;
}

/* BUTTONstyling  */
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://uploads-ssl.webflow.com/641d54fdcc011edcca41c54a/64424646a6675cab6a932add_6391ed115e29502088435d0b_How%2520much%2520should%2520you%2520spend%2520on%2520your%2520travel%2520plans_%2520-Feature%2520image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    
}
.btn-links  input[type=button]{
  
    padding: 10px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(128, 122, 122, 0.637));
    height: 40px;
    width: 220px;
    
    border: 2px solid gray;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.btn-links  input[type=button]:hover{
  background-color:black;
  cursor: pointer;
  transform: scale(1.7);
  
}

.places input[type=button]:hover{
    background-color: #33bacf;
    transform: scale(1.2);
}
